.cart {
    padding: 20px;
    border-top: 2px solid #ddd;
  }
  
  .cart h2 {
    margin-bottom: 20px;
  }
  
  .cart ul {
    list-style-type: none;
    padding: 0;
  }
  
  .cart ul li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .place-order-btn {
    background-color: #f8b400;
    padding: 10px;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .place-order-btn:hover {
    background-color: #e68900;
  }
  